.title_card {
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.card_list {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  gap: 2vh;
  position: relative;
}

.card {
  height: 25vh;
  width: 100%;
}

.card img {
  height: 100%;
  /* width: 100%; */
  border-radius: 1vh;
  object-fit: cover;
}

.card p {
  position: absolute;
  /* top: 40%; */
  bottom: 10%;
}